.error-container {
  text-align: center;
  margin: 5rem auto;
  color: #ff6060;

  .error-title {
    margin: 0;
    font-size: 14vw;
    font-weight: bold;
  }

  .error-message {
    font-size: 2.2vw;
    margin-bottom: 4rem;
  }

  .error-link {
    color: black;
    text-decoration: underline;
    font-size: 1.5vw;

    &:hover {
      text-decoration: none;
    }
  }
}
