.slideshow {
  margin: 0 auto;
  position: relative;
  color: white;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;

}

.slideshow img {
  height: clamp(200px, 50vw, 450px);
  width: 100%;
  object-fit: cover;

}

.chevron-icon {
  width: clamp(20px, 7vw, 100px);
}


  .slideshow-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: white;
    background-color: inherit;
    font-size: 6rem;
    padding: 0.2rem 0.6rem;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    z-index: 10;
  }

  .arrow:hover {
    transform: translateY(-50%) scale(1.1);
  }

  .slideshow-arrow-left {
    left: 20px;
  }

  .slideshow-arrow-right {
    right: 20px;
  }


  .slide-count{
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
    color: white;
    background-color: rgba(0,0,0,0.4);
    padding: 0.3rem 0.6rem;
    border-radius: 10px;
    font-size: clamp(13px, 1vw, 18px);

    @media (max-width:375px) {
      bottom: 30px;
    }
  }


